In [4]:
import numpy as np
import pandas as pd
import os
datasetFolder = "isc_datasets"
def loadData_txt(filename,delimiter):
    filePath = os.path.join(datasetFolder,filename + ".txt")
    return pd.read_table(filePath,delimiter = delimiter)
dataset = loadData_txt("transfusionData",',')
dataset.head()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0

In [5]:
transfusionData = dataset.to_numpy()
print(transfusionData)

[[    2    50 12500    98     1]
 [    0    13  3250    28     1]
 [    1    16  4000    35     1]
 ...
 [   23     3   750    62     0]
 [   39     1   250    39     0]
 [   72     1   250    72     0]]

In [8]:
transfusionData.split(axis=1)

AttributeError: 'numpy.ndarray' object has no attribute 'split'

In [11]:
colsSize = len(dataset.columns)
for col in dataset.columns:
    print(dataset.loc[:,col])

0       2
1       0
2       1
3       2
4       1
       ..
743    23
744    21
745    23
746    39
747    72
Name: Recency (months), Length: 748, dtype: int64
0      50
1      13
2      16
3      20
4      24
       ..
743     2
744     2
745     3
746     1
747     1
Name: Frequency (times), Length: 748, dtype: int64
0      12500
1       3250
2       4000
3       5000
4       6000
       ...
743      500
744      500
745      750
746      250
747      250
Name: Monetary (c.c. blood), Length: 748, dtype: int64
0      98
1      28
2      35
3      45
4      77
       ..
743    38
744    52
745    62
746    39
747    72
Name: Time (months), Length: 748, dtype: int64
0      1
1      1
2      1
3      1
4      0
      ..
743    0
744    0
745    0
746    0
747    0
Name: whether he/she donated blood in March 2007, Length: 748, dtype: int64